# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directories
venv/
env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.pytest_cache/
.coverage

# MyPy and other linting
.mypy_cache/
.pylint.d/

# IDEs and editors
.idea/
.vscode/

# System files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment files
.env

# Generated calendar files
*.ics
